::ng-deep :root {
    --quml-scoreboard-sub-title: #6d7278;
    --quml-scoreboard-skipped: #969696;
    --quml-scoreboard-unattempted: #575757;
    --quml-color-success: #08bc82;
    --quml-color-danger: #f1635d;
    --quml-color-primary-contrast: #333;
    --quml-btn-border: #ccc;
    --quml-heder-text-color: #6250f5;
    --quml-header-bg-color: #c2c2c2;
    --quml-mcq-title-txt: #131415;
    --quml-zoom-btn-txt: #eee;
    --quml-zoom-btn-hover: #f2f2f2;
    --quml-main-bg: #fff;
    --quml-btn-color: #fff;
    --quml-question-bg: #fff;
    --quml-btn-border: #ccc;
  --quml-color-gray: #666;
  --quml-checkmark: #cdcdcd;
  --quml-color-primary-shade: rgba(0, 0, 0, .1);
  --quml-color-success: #08BC82;
  --quml-color-danger: #F1635D;
  --quml-option-card-bg: #fff;
  --quml-option-selected-checkmark:#fff;
  --quml-option-selected-checkmark-icon:#fff;
  }
  